<h1 class="ms-5 mt-5 p-20">Stupid Coaching</h1>

<form action="/answer" data-turbo="false" class="ms-5 p-20">
  <p>Ask your coach anything</p>
  <input type="text" name="question" style="height: 35px;" >
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
